<div id="<%= dom_id post %>">
  <div>
    <strong>Title:</strong>
    <%= post.title %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= post.description %>
  </div>

  <div>
    <strong>Meal date:</strong>
    <%= post.meal_date %>
  </div>

  <div>
    <strong>User:</strong>
    <%= post.user.username %>
  </div>

</div>
